@page
@model WebApp.Pages.GameModel

@{
    ViewData["Title"] = "Game";
}

<h1>@Model.GameName</h1>

<h4>@Model.GameInstance.GetPlayerName(Model.GameInstance.GetNextMoveBy())'s turn</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="container">
            <div class="row">
                @for (int y = 0; y < Model.GameInstance.DimY; y++)
                {
                    for (int x = 0; x < Model.GameInstance.DimX; x++)
                    {
                        var xValue = x;
                        var yValue = y;
                        <form method="post">
                            <div class="col">
                                <label hidden for="spot-@xValue-@yValue" class="control-label"></label>
                                <input type="hidden" name="x" value="@xValue" />
                                <input type="hidden" name="y" value="@yValue" />
                                <input id="spot-@xValue-@yValue" type="submit" value="@Model.GameInstance.GetNextMoveBy().ToString()" class="btn btn-light btn-lg"/>
                            </div>
                        </form>
                    }
                    <div class="w-100"></div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
