@page
@model WebApp.Pages.GameModel

@{
    ViewData["Title"] = "Game";
}

<h1>@Model.GameName</h1>

<h4>@Model.GameInstance.GetPlayerName(Model.GameInstance.GetNextMoveBy())'s turn</h4>
<hr />

<div class="container text-center">
    @for (int y = 0; y < Model.GameInstance.DimY; y++)
    {
        <div class="row">
        @for (int x = 0; x < Model.GameInstance.DimX; x++)
        {
            var xValue = x;
            var yValue = y;
            <div class="col">
                <form method="post">
            
                    <label hidden for="spot-@xValue-@yValue" class="control-label"></label>
                    <input type="hidden" name="x" value="@xValue" />
                    <input type="hidden" name="y" value="@yValue" />
                    <input id="spot-@xValue-@yValue" type="submit" value="@Model.GameInstance.GetNextMoveBy().ToString()" class="btn btn-light btn-lg"/>
                </form>
            </div>
        }
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
