@page
@model WebApp.Pages.LoadGameModel

@{
    ViewData["Title"] = "Load Game";
}

<h1>Load Game</h1>
<h4>Human vs Human</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SavedGames[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavedGames[0].CreatedAtDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavedGames[0].State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SavedGames[0].Configuration)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.SavedGames) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAtDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Configuration!.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
            <td>
                Join as:<br>
                <form method="post">
                    <input asp-for="GameName" type="hidden" value="@item.Name"/>
                    <input asp-for="Password" type="hidden" value="@item.PlayerXPassword"/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-lg">@item.PlayerXName</button>
                    </div>
                </form>

                <form method="post">
                    <input asp-for="GameName" type="hidden" value="@item.Name"/>
                    <input asp-for="Password" type="hidden" value="@item.PlayerOPassword"/>
                    <div class="form-group">
                        <button type="submit" class="btn btn-dark btn-lg">@item.PlayerOName</button>
                    </div>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>