@page
@model WebApp.Pages.LoadGameModel

@{
    ViewData["Title"] = "Load Game";
}

<h1>Load Game</h1>
<h4>Human vs Human</h4>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HumanVsHumanGames[0].Name)
        </th>
        <th>
            Join as
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HumanVsHumanGames[0].Configuration)
        </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.HumanVsHumanGames)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <div class="form-group d-flex gap-2">
                    <form method="post" asp-page-handler="JoinGame">
                        <input asp-for="GameName" type="hidden" value="@item.Name"/>
                        <input asp-for="Password" type="hidden" value="@item.PlayerXPassword"/>
                        <button type="submit" class="btn btn-outline-dark join-as-button">@item.PlayerXName</button>
                    </form>
                    <form method="post" asp-page-handler="JoinGame">
                        <input asp-for="GameName" type="hidden" value="@item.Name"/>
                        <input asp-for="Password" type="hidden" value="@item.PlayerOPassword"/>
                        <button type="submit" class="btn btn-outline-dark join-as-button">@item.PlayerOName</button>
                    </form>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Configuration!.Name)
            </td>
            <td>
                <form method="post" asp-page-handler="RenameGame">
                    <input asp-for="GameName" type="hidden" value="@item.Name"/>
                    <button type="submit" class="btn btn-outline-dark rename-delete-button">Rename</button>
                </form>
            </td>
            <td>
                <form method="post" asp-page-handler="DeleteGame">
                    <input asp-for="GameName" type="hidden" value="@item.Name"/>
                    <button type="submit" class="btn btn-outline-dark rename-delete-button">Delete</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>