@page
@model WebApp.Pages.StartGameModel

@{
    ViewData["Title"] = "Start Game";
}

<h1>Start Game</h1>

<h4>@Model.GameName</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <label for="enterGameButtons" class="control-label">Enter as ...</label>
        <div id="enterGameButtons" class="form-group">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <form method="post" asp-page-handler="PlayerX">
                <input asp-for="GameName" type="hidden" value="@Model.GameName"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-lg">@Model.PlayerXName</button>
                </div>
            </form>

            <form method="post" asp-page-handler="PlayerO">
                <input asp-for="GameName" type="hidden" value="@Model.GameName"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-lg">@Model.PlayerOName</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <a asp-page="LoadGame">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
