@page
@model WebApp.Pages.StartGameModel

@{
    ViewData["Title"] = "Start Game";
}

<h1>Start Game</h1>

<h4>@Model.GameName</h4>
<hr/>
<div class="row py-5">
    <div class="col text-center">
        <h1 class="col px-1 col-auto">ENTER AS</h1>
    </div>
</div>
<div class="row justify-content-center">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col px-5 col-auto form-group">
        <form method="post" asp-page-handler="PlayerX">
            <input asp-for="GameName" type="hidden" value="@Model.GameName"/>
            <button type="submit" class="btn btn-dark btn-lg join-as-button">@Model.PlayerXName</button>
        </form>
    </div>
    <div class="col px-5 col-auto form-group">
        <form method="post" asp-page-handler="PlayerO">
            <input asp-for="GameName" type="hidden" value="@Model.GameName"/>
            <button type="submit" class="btn btn-dark btn-lg join-as-button">@Model.PlayerOName</button>
        </form>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
